@tailwind base;
/* purgecss end ignore */
@tailwind components;
@tailwind utilities;

p {
  @apply mb-2;
  @apply text-xl;
  @apply leading-6;
  @apply text-base;
  @apply mt-3;
}

a {
  @apply text-pink-700;
}

/*Blog Post Cards - index*/
.card {
  @apply flex;
  @apply flex-col;
  @apply rounded-lg;
  @apply shadow-md;
  @apply overflow-hidden;
  @apply mb-8;
  @apply mx-auto;
}

.card:hover {
  transform: translate(0, -2%);
  transition-timing-function: ease-in-out;
  transition: 0.2s;
  @apply shadow-xl;
}

.cardBody {
  @apply p-6;
  @apply flex;
  @apply flex-col;
  @apply justify-between;
  @apply h-0;
  @apply flex-1;
}

.cardDate {
  @apply mt-6;
  @apply text-gray-600;
  @apply text-sm;
}
/*End Section*/

/*Selected Product Card*/

.selectedProductCard {
  @apply flex;
  @apply flex-col;
  @apply rounded-lg;
  @apply shadow-md;
  @apply overflow-hidden;
  @apply mb-8;
  @apply mx-auto;
}

.addToCartButton {
  @apply text-lg;
  @apply text-white;
  @apply bg-pink-700;
  @apply rounded-lg;
  @apply px-2;
  @apply py-1;
}

.sidebar {
  @apply flex;
  @apply flex-col;
}

.sidebar > li {
  @apply mb-4;
}

input {
  @apply bg-pink-100;
  @apply border;
  @apply border-black;
}
